.project {
    width:35em;
    height:13em;
    border-style: none;
    /* background-color: #343a40; */
    background: transparent;
}

img {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    height: 10em;
    width: 10em;
}
.card-body {
    height: 5em;
    /* background-color: #343a40; */
    color:white;
    background: transparent;
}

.svg-inline--fa.fa-w-16 {
    width: 1.75em;
}

.svg-inline--fa {
    height: 1.75em;
}